@model IEnumerable<Producto>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                 <a asp-controller="Producto" asp-action="Edit"
                       asp-route-idProducto="@item.idProducto" class="btn btn-warning">Editar <i class="bi bi-pencil-fill"></i></a>

                 <a asp-controller="Producto" asp-action="Delete"
                       asp-route-idProducto="@item.idProducto" class="btn btn-danger">Eliminar <i class="bi bi-trash3-fill"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
